.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: var(--whites);
}

.vertical {
    margin: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.preferenceContainer {
    width: 400px;
}

.infoContainer {
    width: 300px;
}

.codeHeading {
    margin: 4px;
}

.buttonContainer button {
    width: 80px;
    margin: 12px 8px;
}